<!doctype html>
<html>
<head>
    <title>Food Journal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <!--  jQuery -->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <!-- Bootstrap Date-Picker Plugin     -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/rangeslider.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker3.css"/>
    <script type="text/javascript" src="/javascripts/bootstrap-datepicker.min.js"></script>
</head>
<body>

<div class="container-fluid">

    <div class="page-header text-center">
        <h1><span class="fa "></span> Food Journal Home </h1>
       <!-- <a href="/logout" class="btn btn-primary btn-sm">Logout</a> 
       -->
        <a href="/back-to-bot" class="btn btn-primary btn-sm">To Lose-it Bot</a>
        <a href="/review" class="btn btn-primary btn-sm">View summary</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">

                <% if (user.local.username) { %>
                    <p> <strong>Welcome <%= user.local.username %> ! </strong><br> </p>
                    
                    
                    <!-- Form code begins -->
                    <form action="/meals" method="POST">
                          <div class="form-group"> <!-- Date input -->
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" name="date" placeholder=<%= new Date().toLocaleDateString()%> type="text"/><br><br><br><br>
                                
                                <input type='hidden' name='username' value=<%= user.local.username %>> 
                                
                                <label>Meal Name</label><br>
                                    <label class="radio-inline"><input type="radio" name="mealType" value="Breakfast">Breakfast</label>
                                    <label class="radio-inline"><input type="radio" name="mealType" value="Lunch">Lunch</label>
                                    <label class="radio-inline"><input type="radio" name="mealType" value="Dinner">Dinner</label>
                                    <label class="radio-inline"><input type="radio" name="mealType" value="Other">Other</label><br><br><br>

                                <label for ="food">Meal description</label>
                                <textarea class = "form-control" rows = "4" name="item"></textarea>
                                
                                <br><br>
                                <label>How hungry were you right <strong> before </strong> this meal?</label><br>
                                    <label class="radio-inline"><input type="radio" name="hungerLevel" value="1">(1) Not hungry at all</label><br>
                                    <label class="radio-inline"><input type="radio" name="hungerLevel" value="2">(2) A little hungry</label><br>
                                    <label class="radio-inline"><input type="radio" name="hungerLevel" value="3">(3) Hungry</label><br>
                                    <label class="radio-inline"><input type="radio" name="hungerLevel" value="4">(4) Quite hungry</label><br>
                                    <label class="radio-inline"><input type="radio" name="hungerLevel" value="5">(5) Starving</label><br>
                                <br><br><br>

                                <br><br>
                                <label>How full were you <strong> after </strong> this meal?</label><br>
                                    <label class="radio-inline"><input type="radio" name="satietyLevel" value="1">(1) Not full</label><br>
                                    <label class="radio-inline"><input type="radio" name="satietyLevel" value="2">(2) A little full</label><br>
                                    <label class="radio-inline"><input type="radio" name="satietyLevel" value="3">(3) Full</label><br>
                                    <label class="radio-inline"><input type="radio" name="satietyLevel" value="4">(4) Quite full</label><br>
                                    <label class="radio-inline"><input type="radio" name="satietyLevel" value="5">(5) Overfull!</label><br>
                                <br><br><br>



                            </div>
                          <div class="form-group"> <!-- Submit button -->
                            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                          </div>
    
                    </form>
                    <!-- Form code ends --> 
                    
                    <script>
                        $(document).ready(function(){
                          var date_input=$('input[name="date"]'); //our date input has the name "date"
                          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                          var options={
                            format: 'mm/dd/yyyy',
                            container: container,
                            todayHighlight: true,
                            autoclose: true,
                            disableTouchKeyboard: true,
                            ignoreReadonly: true,
                            endDate: new Date(),
                            todayHighlight: true
                          };
                          date_input.datepicker(options);
                        })
                    </script>

                <% } %>

            </div>
        </div>
        

    <div class="text-center">
    </div>

</div>
</body>
</html>
